<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    colors="true"
    bootstrap="vendor/symfony-cmf/testing/bootstrap/bootstrap.php"
>
    <testsuites>
        <testsuite name="Symfony CmfBlockBundle Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>src/</directory>
            <exclude>
                <directory>Resources/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
