<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    colors="true"
    bootstrap="vendor/symfony-cmf/testing/bootstrap/bootstrap.php"
>
    <testsuites>
        <testsuite name="unit tests">
            <directory>./tests/Unit</directory>
        </testsuite>

        <testsuite name="functional tests with phpcr">
            <directory>./tests/WebTest</directory>
            <directory>./tests/Functional</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>src/</directory>
            <exclude>
                <directory>Resources/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
