{% extends 'SymfonyCmfBlockBundle:Block:block_base.html.twig' %}

{% block block %}

    <h3>Block title: {{ block.title }}</h3>

    <div class="slideshow">
        <ul>
            {% for item in itemBlocks %}
                {# TODO: render image #}
                <li>{{ item.label }}</li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}