{% extends 'SymfonyCmfBlockBundle:Block:block_base.html.twig' %}

{% block block %}

    {% if childBlocks %}
        <h3>Block title: {{ block.title }}</h3>
        <div class="slideshow">
            <ul>
                {% for item in childBlocks %}
                    <li>{{ item | raw }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

{% endblock %}